body {
  margin: 0;
}

.navbar {
  display: flex;
  padding: 12px 40px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid #e5e8eb;
  height: 40px;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.brand {
  color: #121712;
  font-feature-settings: "dlig" on;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px; /* 127.778% */
}

.navbar-links-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  color: #121712;
  font-feature-settings: "dlig" on;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 150% */
  margin-right: 32px;
}

.navbar-links {
  list-style: none;
  display: flex;
  height: 40px;
  align-items: center;
  gap: 36px;
}

.navbar-links a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.navbar-icons {
  display: flex;
  height: 40px;
  max-width: 480px;
  padding: 0px 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button {
  background: #f3f4f3;
  border: none;
  padding: 8px 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}
